@model WebApplication2.Models.AccountsViewModel

@{
    ViewBag.Title = "MyAccounts";
}

<h2>MyAccounts</h2>
<ul class="nav nav-tabs">
    <li class="active">@Html.ActionLink("View Accounts", "ViewAccounts", "Profile", null, new { id = "item 1" })</li>
    <li >@Html.ActionLink("New account", "NewAccount", "Profile", null, new { id = "item 1" })</li>
</ul>
