
@{
    Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
}

    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Your account have been deactivated by the administrator. Please contact the admin for more details.
            Email admin admin@admin.ro
        </p>
    </div>
