@model WebApplication.Models.MyServicesViewModel

@{
    ViewBag.Title = "My services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("MyServices", "MyServices"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="center">
        @foreach (var item in Model.Transactions)
        {
            <br>
            var trans = string.Format(item.Amount + " - " + item.SenderIban + " - " + item.SenderCurrency + " - " + item.Created + " - " + item.TransactionName);
            @Html.ActionLink(trans, "FilledTransfer", item)

        }
    </div>
}
