
@{
    ViewBag.Title = "MyServices";
}

<style>
    table, th, td {
        border: 1px;
        padding: 10px;
    }

    table {
        border-spacing: 15px;
    }

    .a {
        height: 27px;
        width: 160px
    }
</style>

@{
    if (IsPost)
    {
        string Services = Request.Form["Services"];

        <text>
            You entered: <br />
            Phone number: @Services <br />
        </text>
    }
}

<div align="center">
    <h2>MyServices</h2>
    <form method="post" class="b">
        <fieldset>
            <table>
                <tr>
                    <div>
                        <td><label for="Services">Your recent services:</label></td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <br></br>
                        <td><label for="Services">@Html.ActionLink("Water bill", "Bills", "Services")</label></td>

                        <td><label for="Services">Ron</label></td>
                    </div>
                </tr>

                <tr>
                    <div>
                        <td><label for="Services">@Html.ActionLink("Phone charge", "PhoneCreditCharge", "Services")</label></td>
                        <td><label for="Services">6 Euro </label></td>
                    </div>
                </tr>

                <tr>
                    <div>
                        <td><label for="Services">@Html.ActionLink("Electric bill", "Bills", "Services")</label></td>
                        <td><label for="Services">Ron</label></td>
                    </div>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
