@model HandleErrorInfo
@{
    // ViewBag.Title = "ErrorInsufficientFunds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-danger">Operation failed.</h2>
<h2 class="text-danger">Insufficient funds.</h2>

